@model Univers.Models.Models.UniversityFacultySpecialitySelectionModel

<link rel="stylesheet" href="~/css/LoginAndRegistration.css" asp-append-version="true" /> 

@using (Html.BeginForm("UniversityChoice", "Registration", FormMethod.Post, new { @class = "div3" }))
{
    <a href="@Url.Action("SignUpAsStudent", "Registration")"><img src="@Url.Content("~/images/Back.svg")" class="back" /></a><br /><br />

    <label class="lb1">
        Изберете университет:
    </label>
    <br>

    <div class="div4" style="margin-bottom: 25%;">

        <table style="width:80%; border-spacing: 0 10px;">
            <br>
            <br>
            @if (Model.Universities.Count == 0)
            {
                <label class="lb1" style="color: #ff03ad; width: 100%;">
                    Все още няма университети!
                </label>
                <br>
            }
            else
            {
                @foreach (var university in Model.Universities)
                {
                    <tr>
                        <td>
                            <button class="button5" style="width:100%" type="submit" name="universityId" value="@university.Id">
                                @university.Name
                            </button>
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
} 