@{
    ViewData["Title"] = "SignUpAs";
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class="div1">
    <a href="Login"><img src="@Url.Content("~/images/Back.svg")" class="back" /></a><br /><br />

    <img src="@Url.Content("~/images/Logo1.svg")" class="logo1" /><br /><br />

    <label class="lb1">
        Регистрирай се като:
    </label>

    <select class="list">
        <option class="item">Студент</option>
        <option class="item">Служител</option>
    </select>

    <a href="@Url.Action("SignUp","Login")"><button class="button3" />Регистрирация</button></a>

</div>