table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #ccc;
}

.special-day {
    color: yellow;
}

.current-month {
    background-color: lightblue;
}
