@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

table {
    border-collapse: collapse; 
    width: 100%;
}

.today {
    padding-top: 3% !important;
    border: 4px solid #F62088;
    border-radius: 15px;
}

.current-month {
    background: rgba(104, 82, 253, 0.8);
    background: rgba(104, 82, 253, 0.12);
    border-radius: 15px;
}

.icons {
    color: black;
    font-size: 170%;
    position: fixed;
}

th {
    font-family: 'Jost'; 
    font-size: 100%;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.box {
    align-content: center;
    width: 130px;
    height: 45px;
    margin-left: 15%; 
    padding-top: 6%;
    transition: none;
}

.date{ 
    height: 50px;
    text-align: center; 
    
}

.div1 {
    width: 85.5%;
    height: 34%;
    margin-left: 7%;
    margin-top: 2%;
    background: linear-gradient(66.15deg, #B2E6FD -5.25%, #9BD8F1 35.43%, rgba(45, 12, 255, 0.71) 98.77%);
    border-radius: 30px;
}

.div2 {
    width: 90%;
    height: 37%;
    margin-left: 4.5%;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    padding-top: 1%;
}

.div3 {
    position: absolute;
    width: 37%;
    height: 12%;
    margin-left: 4%;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 160%;
}

.div4 {
    position: absolute;
    width: 37%;
    height: 12%;
    margin-bottom: 20%;
    margin-left: 44%;
    background: rgba(13, 13, 13, 0.3);
    box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 200%;
    color: white;
    font-weight: 900;
    text-align: center;
    padding-top: 1.5%;
    cursor: pointer;
}

.semester {
    font-weight: 900;
    font-size: 220%;
    margin-left: 3%;
}

.university {
    font-weight: 600;
    font-size: 160%; 
}

.facultynum {
    font-weight: 400;
    font-size: 140%; 
}

.days {
    font-weight: bolder;
    font-size: 130%;
}